{% include 'loja/base.html' with pg=2 %}

{% block content %}

<div class="container-lg">
    <a href="/clientes"><button type="button" class="btn btn-light mt-2">< Voltar</button></a>
    <h2 class="mt-4">Editar cliente:</h2>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" name="nome" value="{{form.nome.value}}" required>
            <small class="form-text text-muted">Digite o nome do cliente.</small>
        </div>

        <div class="form-group">
            <label>Telefone</label>
            <input class="form-control" type="text" name="telefone" value="{{form.telefone.value}}" required>
            <small class="form-text text-muted">Digite o numero de telefone do cliente.</small>
        </div>

        <div class="form-group">
            <label>Endereço</label>
            <input class="form-control" type="text" name="endereco" value="{{form.endereco.value}}" required>
            <small class="form-text text-muted">Digite o endereço completo do cliente.</small>
        </div>

        <div class="form-group">
            <label>Data nascimento</label>
            <input class="form-control" type="date" name="data_nascimento" value="{{form.data_nascimento.value|date:"Y-m-d"}}" required>
            <small class="form-text text-muted">Digite a data de nascimento do cliente.</small>
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>

{% if status == False %}

<div class="modal fade" id="erroModal" tabindex="-1" role="dialog" aria-labelledby="erroModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="erroModalLabel">Erro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Todos os campos do formulário precisam ser preenchidos corretamente para adicionar o cliente.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
        </div>
    </div>
</div>
<script>
    $('#erroModal').modal()
</script>

{% endif %}

{% endblock %}