{% include 'loja/base.html' with pg=1 %}

{% block content %}

<div class="container-lg">
    <a href="/"><button type="button" class="btn btn-light mt-2">< Voltar</button></a>
    <h2 class="mt-4">Incluir venda:</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label>Vendedor</label>
            <select class="form-control" name="vendedor" required>
                <option value="">Selecione</option>
                {% for v in vendedores %}
                    <option value="{{ v.id }}" {% if form.vendedor == v.id %} selected {% endif %}>{{ v.nome }}</option>
                {% endfor %}
            </select>
            <small class="form-text text-muted">Escolha o vendedor responsável pela venda.</small>
        </div>

        <div class="form-group">
            <label>Cliente</label>
            <select class="form-control" name="cliente" required>
                <option value="">Selecione</option>
                {% for c in clientes %}
                    <option value="{{ c.id }}" {% if form.cliente == c.id %}selected{% endif %}>{{ c.nome }}</option>
                {% endfor %}
            </select>
            <small class="form-text text-muted">Escolha o cliente para a venda.</small>
        </div>

        <button class="btn btn-success" type="submit">Salvar</button>
    </form>
</div>

{% if status == False %}

<div class="modal fade" id="erroModal" tabindex="-1" role="dialog" aria-labelledby="erroModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="erroModalLabel">Erro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Todos os campos do formulário precisam ser preenchidos corretamente para adicionar o item.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
        </div>
    </div>
</div>
<script>
    $('#erroModal').modal()
</script>

{% endif %}

{% endblock %}