{% include 'loja/base.html' with pg=3 %}

{% block content %}

<div class="container-lg">
    <a href="/vendedores"><button type="button" class="btn btn-light mt-2">< Voltar</button></a>
    <h2 class="mt-4">Vendedor:</h2>
    <div class="container">
        <div class="row">
            <div class="col border-top border-bottom p-2">
                <p class="text-primary m-0">Código:</p>
                <p class="m-0">{{vendedor.id}}</p>
            </div>
            <div class="col border-top border-bottom p-2">
                <p class="text-primary m-0">Nome:</p>
                <p class="m-0">{{vendedor.nome}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <a href="/editar-vendedor/{{vendedor.id}}"><button type="button" class="btn btn-primary mt-2">Editar</button></a>
        <a href="javascript:$('#modalExclui').modal()"><button type="button" class="btn btn-danger mt-2">Excluir</button></a>
    </div>
</div>

<div class="modal fade" id="modalExclui" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Excluir</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Confirma a exclusão deste item?<br>Esta ação não pode ser desfeita.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="/excluir-vendedor/{{vendedor.id}}"><button type="button" class="btn btn-danger">Excluir</button></a>
        </div>
        </div>
    </div>
</div>

{% endblock %}